button-size = 32px
// header styles
#header
    display: flex
    justify-content: space-between
    align-items: center
    padding 5px

#settings-button
    cursor pointer
    width button-size
    height button-size
    color white
    svg
        width button-size
        height button-size
