button-size = 32px
// header styles
#header
    padding 8px 5px 0 5px

#settings-button
    cursor pointer
    width button-size
    height button-size
    color white
    svg
        width button-size
        height button-size
