// backend styles
#backend-input
    display none
    width 100%
    padding 7px
    box-sizing: border-box
    border none
    overflow hidden
    text-overflow: ellipsis
    border solid 3px rgb(69, 212, 69)

#backend-input:focus
    width 100%
    background-color white


#backend-server-choice
    width 100%
    padding 7px
    box-sizing: border-box
    border none
    font-size 15pt
    overflow hidden
    text-overflow: ellipsis
    border-radius: 3px
    // border solid 3px rgb(69, 212, 69)


#backend-works-indicator
    color rgb(69, 212, 69)
    text-align left
    margin-top 10px
    margin-bottom 30px

#backend-works-indicator.error
    color red


#backend-button-container
    display: flex
    justify-content: space-between
    margin-bottom 30px

    .click-button
        background-color cd-darkblue
        font-weight bold
        min-width 120px
        padding 10px
        border-radius: 3px
        text-align: center


#backend-explaination-text
    text-align: left