//- settings structure
#settings
    #settingsoff
        #settingsoff-button.click-button: svg: use(href="#svg-cross-icon")
    //- .grouping-head Authentication
    //- .settings-group
    //-     #settingsbutton-login.settings-entry.click-button.icon-entry
    //-         .icon: svg: use(href="#svg-account-icon")
    //-         .text Login
    //-         .arrow: svg: use(href="#svg-chevron-right-icon") 

    //- .grouping-head Server Settings
    .grouping-head
    .settings-group
        #settingsbutton-backend.settings-entry.click-button.icon-entry
            .icon: svg: use(href="#svg-server-icon")
            .text Backend Server
            .arrow: svg: use(href="#svg-chevron-right-icon")
    