//- overviewtable structure
#overviewtable
    include ../loadcontrolsmodule/loadcontrols.pug
    include ../patientapprovalmodule/patientapproval.pug
    include ../selectionactionmodule/selectionaction.pug
    #gridjs-frame
