// overviewtable styles
button-size = 22px

@import '../../../node_modules/gridjs/dist/theme/mermaid.css'

#overviewtable.no-search
    padding-top 58px
    .gridjs-search-input
        dislplay none

#overviewtable
    position relative
    width 100%

.gridjs-container
    box-sizing: border-box

.gridjs-wrapper
    background-color: white


.gridjs-footer
    padding-left 5px
    padding-right 5px

.gridjs-summary
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    font-size: 9pt

.gridjs-pages
    display flex
    max-width: 100% 
    
.gridjs-pages > button
    overflow: hidden
    flex-shrink 2
    font-size: 9pt
    padding: 3px !important

.gridjs-pages > button:first-child
    flex-shrink 10
    text-overflow: ellipsis

.gridjs-pages > button:last-child
    flex-shrink 10
    text-overflow: ellipsis

.c-table
    // height calc(100vh - 180px) !important
    max-width 100% !important
    min-width calc(100% - 10px)

table.gridjs-table
    min-width 100%
    
th.gridjs-th
    background-color #F9FAFB
    z-index 20

tr.gridjs-tr:nth-child(2n)
    background-color: alpha(cd-darkblue, 0.3)

// td.gridjs-td:nth-child(1)
//     @extends .click-button
    
//     // width 100%
//     // box-sizing: border-box
//     // padding 3px

// td.gridjs-td[data-column-id="CaseDate"]
//     user-select: none

.bild-button
.befund-button
    display block
    cursor: pointer
    // color cd-turquoise
    // border-radius: 5px
    // background-color cd-turquoise
    // color white
    margin auto
    margin-top 3px
    // padding 5px 10px
    // width: 45px
    // height 35px
    width: button-size
    height button-size

.befund-button:after
    content:"asd"
    opacity 0

.bild-button[disabled]
.befund-button[disabled]
    // user-select: none
    opacity 0.3
    pointer-events: none

.bild-button:active
.befund-button:active
    opacity 0.5


td.gridjs-td
    background transparent
    font-size: 12pt
    vertical-align: middle
    padding 6px 12px
    svg
        width: button-size
        height button-size

.click-button
.click-button:hover
    background-color: cd-turquoise
    color white
    padding 10px
    text-transform: uppercase    
.click-button:disabled
    color: #888
    background-color: #eee
    opacity 0.5
    cursor auto

// #main-block-top
//     background-color grey
//     text-align: center
